@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

*{
    font-family: 'Merriweat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 144px;
    overflow-x: hidden;
}

:root {
    --main-color: #3B556D;
    --secondary-color: #1C2942;
    --black:#0B162C;
    --light-color: #5FC2BA;
    --bg: radial-gradient(circle,#65cfc6  , #3B556D);
    --border: .1rem solid rgba(0, 0, 0, 0.5);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    background: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.header .navbar a{
    font-size: 22px;
    color: rgb(172, 172, 172);
    margin-left: 40px;
}

.header .navbar a:hover{
    color:var(--light-color);
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}
section{
    padding:2rem 9%;
}
.home{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 10rem;
    background: var(--bg);
    position: relative;
}

.home .content .parag{
    width:500px ;
}

.home .content h3{
    font-size: 43px;
    color:var(--secondary-color);
    line-height: 1.8;
    padding-top: 5%;
}
.home .content h2{
    font-size: 33px;
    color:var(--main-color);
    padding-top: 5%;
}
.home .content p{
    font-size: 18px;
    color:white;
    line-height: 1.8;
    padding:1px 0;
}

.home .image{
    flex:1 1 72px;
    padding-left: 190px;
}

.home .image img{
    width: 80%;
    position:relative;
    object-position: right;
}


.home .cloud{
    position: absolute;
    bottom: 0px; right: 0; left: 0;
    height: 16rem;
    background-size: 250rem 18rem;
    background:url(../images/cloud.png) repeat-x;
    animation: cloud 60s linear infinite;
    opacity: 0.5;
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.home .cloud-1{
    opacity: 0.3;
    height:18rem;
    background-size: 250rem 20rem;
    animation-direction: reverse;
    animation-duration: 50s;
}



.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding: 2rem;
} 

.about .row .image img{
    width: 80%;
    position: relative;
    left: 5%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content .title{
    font-size:3rem;
    color:var(--black);
    text-align: center;
}

.about .row .content p{
    font-size:1.5rem;
    color:var(--black);
    line-height: 1.8;
    padding: 1rem 0;
    text-align: center;
}



.about .row .content .icons-container .icons{
    flex:1 1 15rem;
    border-radius: .7rem;
    border:var(--border);
    padding:1.5rem;
    text-align: center;
    color:var(--light-color);
    border-color:#5FC2BA ;
    box-shadow: var(--box-shadow);
}
.about .row .content .icons-container .icons:hover {
    transform: scale(1.2);
    background-color: white;
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 2rem;
}




.about .row .content .icons-container .icons i{
    border-radius: 50%;
    background:#5FC2BA ;
    color:white;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}
.about .row .content .icons-container .icons i:hover{

    background:var(--main-color) ;
    color:white;
    cursor: pointer;
    transition: .3s ;
    
}

.about .row .content .icons-container .icons h3{
    color:var(--main-color);
    font-size: 1.6rem;
    padding-top: 1rem;
}

.about .row .content .icons-container .icons p{
    font-size:1.2rem;
    color:var(--black);
    line-height: 1.5;
    padding: 1rem 1rem;
}

.about{
    background-color: white;
}


.heading{
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--main-color);
    padding-bottom: 3rem;
}

.heading span{
    color:white;
    border-radius: .5rem;
    background: var(--light-color);
    padding:0 1.5rem;
    box-shadow: var(--box-shadow);
}

.btn{
    margin-top: 1rem;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color:rgb(255, 255, 255);
    background:#5FC2BA;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position:relative;
    z-index: 0;
    overflow:hidden;
    display: block;
    text-align: center;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background:var(--main-color);
    z-index: -1;
    transition: .3s ease-out;
}

.btn:hover::before{
    background:var(--main-color);
    left:0;
    width:100%;
}


.footer{
    background:var(--bg);
    margin-top: 160px;
    
}

.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap:1.5rem;
    padding-bottom: 0px;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem ;
    color:white;
}


.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:white;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    color: var(--black);
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.footer .credit span{
    color:white;
}




.space {
    padding: 30px;
}





.quote{
    background-color: var(--bg);
}

.write {
    margin-top: 40px;
    text-align: center;
    color:var(--main-color); 
    font-size: 1.9rem;
    padding-top: 5rem;
    font-weight: bolder;
}
.fa-quote-right{
    margin-left: auto;
    font-size: 5rem;
    color:var(--bg);
}

.space .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 2rem;
    padding-left: 70px;
}


.space .icons-container .icons :hover {
    transform: scale(1.2);
    background-color: white;
}

.space .icons-container .icons img{
    width: 25rem;
    max-width: 95%;
    border-radius: 2rem;
    margin-right: 0rem;
    box-shadow: var(--box-shadow);
}

.space .icons-container .icons h3{
    color:var(--black);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.space .icons-container .icons p{
    color:var(--light-color);
    line-height: 1.8;
    font-size: 1.5rem;
}


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        background:rgb(255, 255, 255) !important  ;
        box-shadow: var(--box-shadow);
        border:var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{        
        transform: scale(1);
        opacity: 1;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        padding:1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }

    .home .content{
        padding-top: 30px;
        text-align: left;
    }
    
    .home .image img{
        
        width: 100%;
        
        
    }
    .about .row .content .icons-container{
        flex-direction: column;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.videos .sect .titl h3 {
    color: white;
    border-radius: 0.5rem;
    background: var(--light-color);
    padding: 0 1.5rem;
    box-shadow: var(--box-shadow);
    font-size: 3rem;
}

.videos .sect .titl {
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}
.video {
    width: 300px;
    height: 144px;
    border-radius: 0.5rem;
    background: var(--light-color);
    padding: 0 1.5rem;
    box-shadow: var(--box-shadow);
    margin: 20px;
}














